@tailwind base;
@tailwind components;
@tailwind utilities;


.bg{
  background-image: url(../src//images/bg.jpg);
   background-repeat: no-repeat;
    background-size: cover;

}

@media (min-width:1536px) {
  .isHoverStyle:hover{
  transform: scale(.99);
  transition: all 0.1s ease;
  box-shadow: 1px 1px 1px gray;
}
.responsiveforlaptop{
  display: block;
}
}

/* @media(min-width: 375px) {
.resforphones{
  display: grid;
   grid-template-columns: 1;
   
}
.resforphone{
grid-column: 1;
}
} */